*{margin:0;padding:0;}
body{
	background: #ccc;
}
body,p{
	font-family: "MicroSoft YaHei";
	font-size: 14px;
	line-height: 1.5;
}
#container{
	width: 85%;
	margin: 0 auto;
	background: #fff;
}
#header{
	background: #000;
	color: #fff;
	padding: 10px;
	height: 40px;
}
#header h3{
	float: left;
	line-height: 40px;
	padding-left: 20px;
}
#header .btn{
	float: right;
	height: 40px;
	width: 45px;
	margin-right: 10px;
}
#header a:hover{
	color:#fff;
}
#article{
	margin: 10px;
}
.left{
	width: 180px;
	float: left;
	padding: 10px;
	text-align: center;
}
.left h4{
	line-height: 30px;
}
.left p{
	line-height: 25px;
}
.calender{
	margin: 20px 0;
	padding: 10px;
}
.right{
	margin-left: 200px;
}
.content{
	margin:5px;
	padding:10px;
}
.content h4{
	padding:0 0 10px 5px;
	color: blue; 
}
.content p{
	padding:0 10px 10px 10px;
	text-indent: 2em;
}
.content p strong{
	color:red;
}
.content p code{
	color:blue;
	font-weight: bold;
}
.content h5{
	padding:10px 10px;
	color: #111;
}
.content pre{
	text-indent: 4em;
	padding-bottom: 10px;
}
ol{
	margin: 0 20px;
	padding: 0 20px 10px;
}
li{
	padding: 5px;
}
#footer{
  background: #000;
  height: 30px;
  padding: 5px 10px;
}
#footer a{
	line-height: 30px;
	margin: 0 0 0 45%;
	color: grey;
	text-decoration: none;
}
#footer a:hover{
	color: #fff;
}


/***
**弹出框样式
***/
#mask{
	background: #000;
	opacity: 0.75;
	filter:alpha(opacity=75);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2px;
}
#login{
	position: fixed;
	z-index: 3px;
	height:380px;
	width: 450px;
	background: #fff;
	border:1px solid #ccc;
}
.loginHead{
	height: 60px;
	background: #ccc;
}
.loginHead h4{
	line-height: 40px;
	padding:10px 20px;
	font-size: 20px;
}
#close{
	width: 30px;
	height: 30px;
	background: url(../images/close.png) no-repeat;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 5px;
}
.loginContent{
	margin-top: 50px;
}
.loginmodel{
	margin: 10px;
	padding: 10px;
	height: 40px;
}
.loginmodel label{
	font-size: 18px;
	margin-left: 40px;
}
.loginmodel input{
	float: right;
	margin-right: 50px;
	height: 30px;
	width: 200px;
}
#Login{
	float: left;
	margin: 10px 40px 10px 75px;
	height: 40px;
	width: 300px;
	background: rgb(68, 82, 232);
  	border-radius: 10px;
}
